#all_content {
  margin: 0 auto;
  width: 988px;
  font-family: sans-serif;
  color: #000000;
  font-size: 14px;
  clear: both;
}

#header {
  width: 988px;
  height: 90px;
  text-align: center;
}

#left_content {
  width: 295px;
  height: 900px;
  top: 0;
  left: 0px;
  float: left;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: #DCE7F7;
}

#accordion_content {
  font-size: 14px;
  padding: 6px 6px 6px 6px;
  background-color: #DCE7F7;
}

#right_content {
  width: 670px;
  height: 900px;
  top: 0;
  left: 605px;
  float: right;
  padding: 5px 5px 5px 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

/* all inputs within all_content div */
#all_content input {
  float: right;
  margin-right: 5px;
  width: 100px;
  text-align: center;
  padding: 2px 2px 2px 2px;
}


.slider {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  color: #2A4583;
  font-size: 35px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
}


h2 {
  font-size: 18px;
  text-decoration: bold;
  padding-left: 0px;
  padding-top: 0px;
  margin: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 16px;
  text-decoration: bold;
  padding-left: 5px;
  padding-top: 5px;
  margin: 0px;
  margin-bottom: 5px;
}

.ui-tooltip-content {
    font-size:12px;
    font-family: sans-serif;;
}
